<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/icons8-media-outline-96.png">
    <title>TikTok</title>
    <style type="text/tailwindcss">
        [x-cloak] {
           display: none !important; 
        }
        body {
            @apply font-light;
        }
        h1 {
            @apply text-[2rem] font-bold;
        }
        .input-field {
            @apply bg-neutral-100 w-full px-3 py-2.5 border border-neutral-300 rounded-sm placeholder:text-neutral-400 focus:outline-hidden;
        }
        .button {
            @apply bg-neutral-100 w-full px-3 py-2.5 rounded-sm font-medium text-neutral-400 text-sm cursor-not-allowed ;
        }
        .button-active {
            @apply bg-rose-500 hover:bg-rose-600 text-white cursor-pointer;
        }
    </style>
</head>
<body>
    <div class="min-h-100dvh">
        <aside class="fixed bg-white h-screen w-18 lg:w-74 border-r border-neutral-200 lg:border-none">
            <div class="bg-white h-[60px] flex items-center px-2.5">
                <a class="flex" href="#">
                    <img width="50" src="../static/images/icons8-media-outline-96.png" alt=""/>
                    <h1 class="hidden lg:block">TikTok</h1>
                </a>
            </div>
        </aside>
        <main class="h-screen w-full px-18">
            <article class="h-screen mx-auto py-2 px-4 flex justify-center items-center">
                <div class="relative bg-black max-h-full max-w-full lg:h-full rounded-2xl aspect-[9/16] flex justify-center items-center">
                    <img class="aspect-[9/16] rounded-2xl object-cover" src="../media/robot.jpg" alt="">
                    <article-info class="absolute flex bottom-0 left-0 right-0">
                        <div class="mt-auto p-5 text-white z-10">
                            <a href="" class="hover:underline">@jason</a>
                            <div>
                                <a href="" class="hover:underline mt-1">#robot</a>
                            </div>
                        </div>
                        <div class="h-64 bg-gradient-to-t from-black to-transparent opacity-50 rounded-b-2xl"></div>
                    </article-info>
                    <article-buttons class="absolute -right-17 bottom-0 flex flex-col gap-2">
                        <button id="author" class="relative cursor-pointer flex justify-center mb-4">
                            <div class="rounded-full size-13 bg-neutral-100 overflow-hidden">
                                <img class="w-full h-full object-center object-cover" src="../media/avatar.png" alt="">
                            </div>
                            <div class="absolute bg-rose-500 hover:bg-rose-600 size-6 rounded-full top-10 flex items-center justify-center">  
                                <div class="size-3.5 fill-white">
                                    <svg viewBox="0 0 48 48">
                                        <path d="M26 7a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v15H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h15v15a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V26h15a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1H26V7Z"></path>
                                    </svg>
                                </div>
                            </div>
                        </button>
                        <button id="like" class="cursor-pointer">
                            <div class="rounded-full size-13 bg-neutral-100 hover:bg-neutral-200 flex items-center justify-center">
                                <div class="size-6 black-fill">
                                    <svg viewBox="0 0 24 24">
                                        <path d="M7.5 2.25C10.5 2.25 12 4.25 12 4.25C12 4.25 13.5 2.25 16.5 2.25C20 2.25 22.5 4.99999 22.5 8.5C22.5 12.5 19.2311 16.0657 16.25 18.75C14.4095 20.4072 13 21.5 12 21.5C11 21.5 9.55051 20.3989 7.75 18.75C4.81949 16.0662 1.5 12.5 1.5 8.5C1.5 4.99999 4 2.25 7.5 2.25Z"></path>
                                    </svg>
                                </div>
                            </div>
                            <p class="font-bold text-xs text-neutral-600 pt-1">3</p>
                        </button>
                        <button id="chat" class="cursor-pointer">
                            <div class="rounded-full size-13 bg-neutral-100 hover:bg-neutral-200 flex items-center justify-center">
                                <div class="size-6 black-fill">
                                    <svg viewBox="0 0 48 48">
                                        <path fill-rule="evenodd" d="M2 21.5c0-10.22 9.88-18 22-18s22 7.78 22 18c0 5.63-3.19 10.74-7.32 14.8a43.6 43.6 0 0 1-14.14 9.1A1.5 1.5 0 0 1 22.5 44v-5.04C11.13 38.4 2 31.34 2 21.5M14 25a3 3 0 1 0 0-6 3 3 0 0 0 0 6m10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6m13-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                            <p class="font-bold text-xs text-neutral-600 pt-1">3</p>
                        </button>
                        <button id="bookmark" class="cursor-pointer">
                            <div class="rounded-full size-13 bg-neutral-100 hover:bg-neutral-200 flex items-center justify-center">
                                <div class="size-6 black-fill">
                                    <svg viewBox="0 0 24 24">
                                        <path fill="currentColor" d="M4 4.5a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v15.13a1 1 0 0 1-1.555.831l-6.167-4.12a.5.5 0 0 0-.556 0l-6.167 4.12A1 1 0 0 1 4 19.63z"></path>                                                                                         
                                    </svg>
                                </div>
                            </div>
                            <p class="font-bold text-xs text-neutral-600 pt-1">3</p>
                        </button>
                        <button id="share" class="cursor-pointer">
                            <div class="rounded-full size-13 bg-neutral-100 hover:bg-neutral-200 flex items-center justify-center">
                                <div class="size-6 black-fill">
                                    <svg viewBox="0 0 20 20">
                                        <path d="M10.938 3.175a.674.674 0 0 1 1.138-.488l6.526 6.215c.574.547.554 1.47-.043 1.991l-6.505 5.676a.674.674 0 0 1-1.116-.508V13.49s-6.985-1.258-9.225 2.854c-.209.384-1.023.518-.857-1.395.692-3.52 2.106-9.017 10.082-9.017z" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                            <p class="font-bold text-xs text-neutral-600 pt-1">3</p>
                        </button>
                    </article-buttons>
                </div>
            </article>
            <scroll-bar class="fixed right-0 top-0 w-16 h-screen hidden md:flex items-center">
                <div class="flex flex-col gap-4">
                    <button class="size-12 rounded-full bg-neutral-100 flex items-center fill-neutral-400 justify-center cursor-not-allowed">
                        <div class="size-6">
                            <svg viewBox="0 0 48 48">
                                <path d="m24 20.24 13.17 13.17a1 1 0 0 0 1.42 0l2.82-2.82a1 1 0 0 0 0-1.42L25.06 12.82a1.5 1.5 0 0 0-2.12 0L6.59 29.17a1 1 0 0 0 0 1.42L9.4 33.4a1 1 0 0 0 1.42 0L24 20.24Z"></path>
                            </svg>
                        </div>
                    </button>
                    <button class="size-12 rounded-full bg-neutral-100 hover:bg-neutral-200 cursor-pointer flex items-center justify-center ">
                        <div class="size-6">
                            <svg viewBox="0 0 48 48">
                                <path d="m24 27.76 13.17-13.17a1 1 0 0 1 1.42 0l2.82 2.82a1 1 0 0 1 0 1.42L25.06 35.18a1.5 1.5 0 0 1-2.12 0L6.59 18.83a1 1 0 0 1 0-1.42L9.4 14.6a1 1 0 0 1 1.42 0L24 27.76Z"></path>
                            </svg>
                        </div>
                    </button>
                </div>
            </scroll-bar>
        </main>
    </div>
</body>
</html>